* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5ede0;
}
.card {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    text-align: center; 
}
h1 {
    margin-bottom: 10px;
}
.input-row {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
input {
    flex: 1;
    padding: 10px;
    border: 1.5px solid #e0e0e0;
    border-radius: 10px;
    font-size: 15px;
    /* background: rgba(255, 255, 255, 0.3); */
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    border: 1.5px solid #e0e0e0;
}
button {
    padding: 10px 16px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
ul {
    list-style: none;
    margin-top: 16px;
}
li {
    background: #f5f7fa;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: small;
}